@font-face {
    font-family: 'norsebold';
    src: url('/fonts/webfontkit-20230613-161155/norse-bold-webfont.woff2') format('woff2'),
        url('/fonts/webfontkit-20230613-161155/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

:root {
    --align-items: 40px;
}

html,
body {
    height: 100%;
}


.container {
    display: flex;
    height: 100%;
}

/*left side */

.background-logo {
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    flex: 1;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 120px;
    padding: 15px;
    text-align: center;
    position: relative;
    top: 30%;
}

.logo_container img {
    width: 15%;
    min-width: 31px;
    max-width: 60px;
}

.logo_container p {
    font-family: "norsebold";
    font-size: 3rem;
    color: white;

}


.image-credit {
    color: white;
    position: relative;
    top: 75%;
}

.image-credit a {
    color: white;
}

/* right side */

.introduction {
    padding-left: var(--align-items);
}

.form-container {
    background-color: rgb(243, 237, 237);
    padding-top: 50px;
    flex: 2;
}

button,
input:not([type="checkbox"]),
select,
textarea {
    font: inherit;
    width: 250px;
    padding: 0;
    margin: 0;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h2 {
    margin-top: 20px;
}

form {
    margin-top: 40px;
    padding-left: var(--align-items);
    background-color: white;
    box-shadow: 0px 3px 10px 1px grey;
    padding: 20px 40px;
}


fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

legend {
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    display: block;
}


input:not([type="checkbox"]) {
    appearance: none;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 3px;
    display: block;
    margin-top: 5px;
}



input:not([type="checkbox"]):focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-color: blue;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.input-group {
    display: flex;
    column-gap: 40px;
}

#password {
    position: relative;
}

.errorMSG {
    position: absolute;
    color: red;
    margin-top: 5px;
    font-size: 0.8rem;
    visibility: hidden;
    width: auto;
    max-width: 250px;
}


.below-form_container {
    margin-top: 30px;
    padding-left: var(--align-items);
}

.checkbox_container {
    margin-bottom: 20px;
}

.checkbox_container label {
    vertical-align: middle;
    display: inline-block;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    vertical-align: middle;
    appearance: none;
    border: 1px solid #ccc;
    background-color: rgb(136, 133, 133);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #2ddf5c;
    border: 2px solid green;
    outline: none;
}

button {
    color: white;
    background-color: #596D48;
    padding: 15px 30px;
    border-radius: 10px;
    font: inherit;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    outline: none;
    background-color: #48583a;
}

.below-form_container a {
    color: #48583a;
}

/* CLasses for javascript */
.invalid {
    border: 1px solid red !important;
}

.valid {
    border: 1px solid green !important;
}

.showElement {
    visibility: visible !important;
}